.btn {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    color: white;
    background-color: inherit;
    border: 2px solid rgba(0,0,0,0);
    padding: 0.5rem 1rem;
    margin: 0 1rem;

    &-radius {
        border-radius: .4rem;
    
        &-long {
            border-radius: 1rem;
        }
    
        &-middle {
            border-radius: .7rem;
        }
    }
    
    &:focus {
        outline: none;
    }

    &-mistakes {
        .button(#ff4757, #e8d4b7);
    }

    &-success {
        .button(#2ed573, #9EEFE1);
    }

    &-warnings {
        .button(#ffa502, #e3e8b7);
    }

    &-info {
        .button(#1e90ff, #b7e8e7);
    }
   
    &-black {
        .button(#2f3542, #2f3542);
    }

    &-white {
        background-color: #f1f2f6;
        border: 2px solid #e7e7e7;
        color: #2f3542;
        transition: 0.3s background-color linear;
        &:hover {
            background-color: #ffffff;
        }
        &-outline:focus {
            box-shadow: 0 0 0 .15rem #e7e7e7;
        }
    }

    &-circle {
        border-radius: 50%;
    }

    &:disabled {
        cursor: unset;
        background-image: none;
        background-color: #dfe4ea;
        &:hover {
            background-color: #dfe4ea;
        }
    }

    &-small {
        min-width: 5rem;
    }

    &-middle {
        min-width: 10rem;
    }

    &-long {
        min-width: 15rem;
    }

    &-small.btn-circle {
        min-width: 5rem;
        min-height: 5rem;
    }

    &-middle.btn-circle {
        min-width: 10rem;
        min-height: 10rem;
    }

    &-long.btn-circle {
        min-width: 15rem;
        min-height: 15rem;
    }
}

.checkbox {
    .checkbox-btn(20px, 20px);

    &-small {
       .checkbox-btn(15px, 15px);
    }

    &-long {
        .checkbox-btn(25px, 25px);
    }
}

.checkbox-circle {
    .check-circle(40px, 20px);

    &-small {
        .check-circle(30px, 15px);
    }

    &-long {
        .check-circle(45px, 25px)
    }
}

.radio {
    .radio-btn(20px, 20px);

    &-small {
        .radio-btn(15px, 15px);
    }

    &-long {
        .radio-btn(25px, 25px);
    }
}

.button(@color, @color-gr){
    background-color: @color;
    color: #f7f9ff;
    border: 2px solid rgba(0,0,0,0);
    transition: .5s;
    &:hover {
        background-color: lighten(@color, 15%);
    }

    &-gradient{
        background-image: linear-gradient(to right, @color-gr 0%, @color 51%, @color-gr 100%);
        background-size: 200% auto;
        color: #f7f9ff;
        transition: 0.4s;
        &:hover {
            background-position: right center;
        }
    }
    
    &-outline:focus {
        box-shadow: 0 0 0 .15rem @color;
    }
    
    &-hoverable {
        background-color: @color;
        color: #f7f9ff;
        border: 2px solid @color;
        transition: .4s;
        &:hover {
            background-color: #fff;
            color: @color;
        }
    
        &-white {
            background-color: #fff;
            color: @color;
            border: 2px solid @color;
            transition: .4s;
            &:hover {
                background-color: @color;
                color: #f7f9ff;
            }
        }
    }
    
    &-rectangle {
        border: 2px solid @color;
        color: @color;
        position: relative;
    
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            margin: auto;
            border: 2px solid rgba(0,0,0,0);
            transition: .4s;
        }
    
        &:hover::after {
            border-color: @color;
            width: calc(100% - 10px);
            height: calc(100% + 10px);
        }
    }
    
    &-shadow {
        box-shadow: 0 0 1rem 1rem @color inset;
        border: 2px solid @color;
        color: #fff;
        transition: .3s;
    
        &:hover, &:focus {
            box-shadow: 0 0 .8rem 0 @color inset, 0 0 .8rem .2rem @color;
            color: @color;
        }
    }
}

.check-circle(@width, @height) {
    position: relative;
    display: block;
    cursor: pointer;
    & input[type='checkbox'] {
        position: absolute;
        opacity: 0;
    }

    & span {
        display: inline-block;
        position: relative;
        width: @width;
        height: @height;
        background-color: #dfe4ea;
        border-radius: 20px;
    }

    & span::before {
        content: '';
        background-color: #f1f2f6;
        width: 50%;
		height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: -3%;
        margin: auto 0;
        border-radius: 50%;
        position: absolute;
        transition: .5s;
    }

    & input[type='checkbox']:checked + span {
        background-color: #7bed9f;
    }

    & input[type='checkbox']:checked + span::before {
        transform: translateX(108%);
    }
}

.radio-btn(@width, @height) {
    position: relative;
    display: block;
    cursor: pointer;
    & input[type='radio'] {
        position: absolute;
        opacity: 0;
    }

    & span {
        display: inline-block;
        position: relative;
        width: @width;
        height: @height;
        background-color: #dfe4ea;
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,0);
    }

    & span::before {
        content: '';
        background-color: #7bed9f;
        width: 70%;
        height: 70%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border-radius: 50%; 
        transform: scale(0);
        transition: .5s;
    }

    & input[type='radio']:checked + span {
        border-color: #7bed9f;
    }

    & input[type='radio']:checked + span::before {
        transform: scale(1);
    }
}

.checkbox-btn(@width, @height) {
    position: relative;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    & input[type='checkbox'] {
        position: absolute;
        opacity: 0;
    }

    & span {
        display: inline-block;
        position: relative;
        width: @width;
        height: @height;
        background-color: #dfe4ea;
        border-radius: .15rem;
    }

    & span::before {
        content: '\2714';
        font-size: @width;
        left: 0;
        bottom: -0.15rem;
        color: black;
        position: absolute;
        transform:  scale(0);
        transition: .5s;
    }

    & input[type='checkbox']:checked + span {
        background-color: #7bed9f;
    }

    & input[type='checkbox']:checked + span::before {
        transform:  scale(1);
    }
}