@iterations: 1;
@ord: 0;
* {
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.container {
    margin: 0 auto;

    &-fluid {
        width: 100%;
    }
}

.col {
    flex: 1 0 0;

    &-xl {
        flex: 1 0 0;  
    }

    &-sm {
        flex: 1 0 0;  
    }

    &-md {
        flex: 1 0 0; 
    }

    &-lg {
        flex: 1 0 0; 
    }

    &-xl {
        flex: 1 0 0;
    }
}


    @media (max-width: 575px) { 
        .container {
            .container;
            width: 100%
        }

        .row {
            .row;
            flex-wrap: wrap;
        }

        .col {
            width: 100%;
            margin-bottom: 1rem;
            .col-loop (@i) when (@i <= 12) {      
                &-@{i} {
                    width: 100%;
                    margin-bottom: 1rem;
                }
    
                &-xl-@{i} {
                    width: 100%;
                    margin-bottom: 1rem;
                }
    
                &-sm-@{i} {
                    width: 100%;
                    margin-bottom: 1rem;
                }
    
                &-md-@{i} {
                    width: 100%;
                    margin-bottom: 1rem;
                }
    
                &-lg-@{i} {
                    width: 100%;
                    margin-bottom: 1rem;
                }
                .col-loop(@i + 1);
            }
            .col-loop (@iterations);
        }
    }

    // Малые девайсы (горизонтальные телефоны, >= 576px)
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
            .container;
            &-sm{
                max-width: 540px;
                .container;
            }
        }

        .col {
            
            .col-loop (@i) when (@i <= 12) {
                @width: calc(~"@{i}/12*100%");
                        
                &-@{i} {
                    flex: 0 1 ~'@{width}';
                    max-width: ~'@{width}';
                }

                &-sm-@{i} {
                    flex: 0 1 ~'@{width}';
                    max-width: ~'@{width}';
                }
                .col-loop(@i + 1);
            }
            .col-loop (@iterations);
        }
    }

    // Средние девайсы (планшеты, >= 768px)
    @media (min-width: 768px) { 
        .container {
            max-width: 720px;
            .container;
            &-md{
                max-width: 720px;
                .container;
            }
        }

        .col {
            .col-loop (@i) when (@i <= 12) {
                @width: calc(~"@{i}/12*100%");
                        
                &-@{i} {
                    flex: 0 1 ~'@{width}';
                    max-width: ~'@{width}';
                }

                &-md-@{i} {
                    flex: 0 1 ~'@{width}';
                    max-width: ~'@{width}';
                }
                .col-loop(@i + 1);
            }
            .col-loop (@iterations);
        }
    }

    // Большие девайсы (десктопы, >= 992px)
    @media (min-width: 992px) {
        .container { 
            max-width: 960px;
            .container;
            &-lg{
                max-width: 960px;
                .container;
            }
        }

        .col {
            .col-loop (@i) when (@i <= 12) {
                @width: calc(~"@{i}/12*100%");
                        
                &-@{i} {
                    flex: 0 1 ~'@{width}';
                    max-width: ~'@{width}';
                }

                &-lg-@{i} {
                    flex: 0 1 ~'@{width}';
                    max-width: ~'@{width}';  
                }
                .col-loop(@i + 1);
            }
            .col-loop (@iterations);
        }
    }

    // Экстрабольшие девайсы (большие десктопы, >= 1200px)
    @media (min-width: 1200px) {
        .container { 
            max-width: 1140px;
            .container;
            &-xl{
                max-width: 1140px;
                .container;
            }
        }

        .col {
            .col-loop (@i) when (@i <= 12) {
                @width: calc(~"@{i}/12*100%");
                        
                &-@{i} {
                    flex: 0 1 ~'@{width}';
                    max-width: ~'@{width}';
                }

                &-xl-@{i} {
                    flex: 0 1 ~'@{width}';
                    max-width: ~'@{width}';
                }
                .col-loop(@i + 1);
            }
            .col-loop (@iterations);
        }
    }

    .justify-content-start {
        justify-content: start;
        &-xl {
            justify-content: start;
        }

        &-lg {
            justify-content: start;
        }

        &-md {
            justify-content: start;
        }

        &-sm {
            justify-content: start;
        }
    }
    .justify-content-end {
        justify-content: flex-end;
        &-xl {
            justify-content: flex-end;
        }

        &-lg {
            justify-content: flex-end;
        }

        &-md {
            justify-content: flex-end;
        }

        &-sm {
            justify-content: flex-end;
        }
    }
    .justify-content-center {
        justify-content: center;
        &-xl {
            justify-content: center;
        }

        &-lg {
            justify-content: center;
        }

        &-md {
            justify-content: center;
        }

        &-sm {
            justify-content: center;
        }
    }
    .justify-content-between {
        justify-content: space-between;
        &-xl {
            justify-content: space-between;
        }

        &-lg {
            justify-content: space-between;
        }

        &-md {
            justify-content: space-between;
        }

        &-sm {
            justify-content: space-between;
        }
    }
    .justify-content-around {
        justify-content: space-around;
        &-xl {
            justify-content: space-around;
        }

        &-lg {
            justify-content: space-around;
        }

        &-md {
            justify-content: space-around;
        }

        &-sm {
            justify-content: space-around;
        }
    }

    .align-items-start {
        align-items: flex-start;
        &-xl {
            align-items: flex-start;
        }

        &-lg {
            align-items: flex-start;
        }

        &-md {
            align-items: flex-start;
        }

        &-sm {
            align-items: flex-start;
        }
    }

    .align-items-end {
        align-items: flex-end;
        &-xl {
            align-items: flex-end;
        }

        &-lg {
            align-items: flex-end;
        }

        &-md {
            align-items: flex-end;
        }

        &-sm {
            align-items: flex-end;
        }
    }

    .align-items-center {
        align-items: center;
        &-xl {
            align-items: center;
        }

        &-lg {
            align-items: center;
        }

        &-md {
            align-items: center;
        }

        &-sm {
            align-items: center;
        }
    }

    .align-items-baseline {
        align-items: baseline;
        &-xl {
            align-items: baseline;
        }

        &-lg {
            align-items: baseline;
        }

        &-md {
            align-items: baseline;
        }

        &-sm {
            align-items: baseline;
        }
    }

    .align-self-start {
        align-self: flex-start;
        &-xl {
            align-self: flex-start;
        }

        &-lg {
            align-self: flex-start;
        }

        &-md {
            align-self: flex-start;
        }

        &-sm {
            align-self: flex-start;
        }
    }

    .align-self-end {
        align-self: flex-end;
        &-xl {
            align-self: flex-end;
        }

        &-lg {
            align-self: flex-end;
        }

        &-md {
            align-self: flex-end;
        }

        &-sm {
            align-self: flex-end;
        }
    }

    .align-self-center {
        align-self: center;
        &-xl {
            align-self: center;
        }

        &-lg {
            align-self: center;
        }

        &-md {
            align-self: center;
        }

        &-sm {
            align-self: center;
        }
    }

    .align-self-baseline {
        align-self: baseline;
        &-xl {
            align-self: baseline;
        }

        &-lg {
            align-self: baseline;
        }

        &-md {
            align-self: baseline;
        }

        &-sm {
            align-self: baseline;
        }
    }

    .order {
        .col-loop (@i) when (@i <= 12) {
            &-@{i} {
                order: ~'@{i}';
            }

            &-xl-@{i} {
                order: ~'@{i}'; 
            }

            &-lg-@{i} {
                order: ~'@{i}';
            }
        
            &-md-@{i} {
                order: ~'@{i}';
            }
        
            &-sm-@{i} {
                order: ~'@{i}';
            }

            .col-loop(@i + 1);
        }

        .col-loop (@ord);
    }

