* {
    box-sizing: border-box;
}
body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

section:nth-child(2) {
    margin-top: 1rem;
}

[class^='container-'] {
    margin-top: 1rem;
}

[class^='col'] {
    border: 1px solid #dfe4ea;
    height: 50px;
    background-color: #5352ed;
}

h1 {
    margin: 0;
}

header .container {
    padding: 1rem;
    color: #2f3542;
}

[class^='col'] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7bed9f; height: 50px;
    color: #fff;
}

main > .container-fluid {
    padding: 2% 5% 10% 5%;
}

[class^='col-'] > [class^='col-'] {
    background-color: #70a1ff;
}

section:nth-child(2) [class^='container-'] {
    background-color: #70a1ff;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

section:nth-child(3) .row {
    padding: 1%;
    background-color: #70a1ff;
    height: 100px;
}

pre {
    white-space: pre-wrap;
}

.buttons-number p {
    margin: 0 8%;
}

.modal-footer .btn {
    font-size: 15px;
}

.section-modal, .section-carousel{
    margin: 15% 0;
}

.buttons {
    margin: 5% 0;
}

.section-table {
    padding: 10% 0;
}